<div class="pagination justify-content-center">
    {{#hasPrevious}}
        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
    {{/hasPrevious}}
    {{^hasPrevious}}
        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
    {{/hasPrevious}}

    {{#hasNext}}
        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
    {{/hasNext}}
    {{^hasNext}}
        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
    {{/hasNext}}
</div>